# Server Configuration
PORT=7777
NODE_ENV=development
APP_URL=http://localhost:7777
FRONTEND_URL=http://localhost:3000
APP_FALLBACK_LANGUAGE=vi
APP_NAME=SOTA
APP_DESCRIPTION="Official SOTA API"

# Database Configuration
DATABASE_URL="mysql://root:password@localhost:3306/gateway"

# JWT Configuration
JWT_SECRET=example@123
JWT_EXPIRES_IN=900
JWT_REFRESH_EXPIRES_IN=604800

# Redis Configuration
REDIS_HOST=localhost
REDIS_PORT=6379
REDIS_PASSWORD=

# Throttle Configuration
THROTTLE_TTL=60
THROTTLE_LIMIT=60
THROTTLE_LOGIN_PREFIX=login_fail_throttle
THROTTLE_LOGIN_LIMIT=5
THROTTLE_LOGIN_DURATION=2592000
THROTTLE_LOGIN_BLOCK_DURATION=3000

# TwoFA Configuration
TWOFA_APP_NAME=SOTA

# Cookie Configuration
IS_SAME_SITE=true
IS_HTTPS_ENABLED=false

# RabbitMQ Configuration
RABBITMQ_URL=amqp://localhost:5672
RABBITMQ_QUEUE=gateway_requests

# Mail Configuration
MAIL_HOST=smtp.mailtrap.io
MAIL_PORT=2525
MAIL_USER=your_mailtrap_user
MAIL_PASSWORD=your_mailtrap_password
MAIL_FROM=noreply@sota.com
MAIL_FROM_MAIL=noreply@sota.com
MAIL_QUEUE_NAME=sota-mail